@font-face {
    font-family: 'ballet-harmony';
    src: url('./fonts/ballet_harmony/Ballet Harmony.ttf') format('truetype');
}

@font-face {
    font-family: 'roshida-valentines';
    src: url('./fonts/roshida_valentines/Roshida Valentines.ttf') format('truetype');
}

:root {
    --rosaClaro: #F4F1BB;
    --rosaMedio: #EFBCD5;
    --rosaEscuro: #BE97C6;
    --azulClaro: #51A3A3;
    --azulEscuro: #2F4858;
}

#row1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    background-color: white;

    justify-content:  space-between;
    align-items: baseline;
}

#row1 > h1 {
    font-family: 'ballet-harmony';
    color:var(--azulClaro);
    text-shadow: -1px 1px 3px var(--azulEscuro) ;
    font-size: 3.5em;
    margin: 0.4em;
    margin-left: 0.5em;
}

#row1 > button {
    width: 50px;
    height: 50px;
    margin: 1em;
    
}
