@font-face {
    font-family: 'ballet-harmony';
    src: url('./fonts/ballet_harmony/Ballet Harmony.ttf') format('truetype');
}

@font-face {
    font-family: 'roshida-valentines';
    src: url('./fonts/roshida_valentines/Roshida Valentines.ttf') format('truetype');
}

:root {
    --rosaClaro: #F4F1BB;
    --rosaMedio: #EFBCD5;
    --rosaEscuro: #BE97C6;
    --azulClaro: #51a3a3;
    --azulEscuro: #2F4858;
}
* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(images/backgrounds/pexels-vlada-karpovich-4050300.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#row1 {
    background-color: #00000098;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    justify-content:  space-between;
}

#row1 > h1 {
    font-family: 'ballet-harmony';
    color:var(--azulClaro);
    text-shadow: -1px 1px 3px var(--azulEscuro);
    font-size: 4.3em;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

#row1 > button {
    background-image: url(images/icons/menu-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 3em;
    margin-top: 2em;
    border: none;
}

#row2 {
    background-color: #00000098;
    height: 500px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
}

#row2 > p {
    font-family: serif;
    padding: 30px;

    color: white;
    width: 40vh;
    font-size: 2.8em;

}

#row2 > button {
    font-family: serif;
    color: white;
    background-color: var(--azulEscuro);
    font-size: 2em;
    width: 150px;
    height: 80px;
    margin-right: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.523)
}

main {
    height: 200px;
}